<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logInController</servlet-name>
        <servlet-class>com.jobyab.controllers.logInController</servlet-class>
        <url-pattern>/register</url-pattern>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>com.jobyab.controllers.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userProfileController</servlet-name>
        <servlet-class>com.jobyab.controllers.userProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAdsController</servlet-name>
        <servlet-class>com.jobyab.controllers.addAdsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resumeController</servlet-name>
        <servlet-class>com.jobyab.controllers.resumeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logInController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userProfileController</servlet-name>
        <url-pattern>/userProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdsController</servlet-name>
        <url-pattern>/addAdsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resumeController</servlet-name>
        <url-pattern>/resumeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
